/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    line-height: calc(1em + 0.5rem);  
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #ccc;
    font-family: "Delius", serif;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
/* End of CSS Reset */

/* Navigation link styling for the assignments */
.header {
    background-color: #ddd;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    color: #fff;
}

nav {
    background-color: #333;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
/* End of Navigation link styling for the assignments */
