/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* End of CSS Reset */

/* Navigation link styling for the assignments */
.nav_bar {
    background-color: #333;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.nav_bar ul {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    list-style: none;
}

.nav_bar ul li {
    margin: 0 1rem;
}

.nav_bar ul li a {
    text-decoration: none;
    color: #fff;
}
/* End of Navigation link styling for the assignments */

/* Styling for the hero section content */
@font-face {
    font-family: 'gilory-regular';
    src: url('./gilroy-fonts/gilroy-regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'gilory-light';
    src: url('./gilroy-fonts/gilroy-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'gilory-semibold';
    src: url('./gilroy-fonts/gilroy-semibold.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'gilory-bold';
    src: url('./gilroy-fonts/gilroy-bold.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'gilory-thin';
    src: url('./gilroy-fonts/gilroy-thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: 'gilory-medium';
  src: url('./gilroy-fonts/gilroy-medium.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

body {
    font-family: 'gilory-semibold', sans-serif;

}


.hero_section {
    background-image: url('./assets/Hero\ section.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 1028px;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.menu ul,
.login ul {
    display: flex;
    list-style: none;
}

.menu ul li {
  font-family: 'gilory-regular';
}

.menu ul li,
.login ul li {
    margin: 0 1rem;
    font-size: 14px;
}

.login ul li {
  font-family: 'gilory-semibold';
}

.menu ul li a,
.login ul li a {
    text-decoration: none;
    color: #141414;
    font-weight: 400;
}

.menu ul li .blue_txt,
.login ul li a,
.learn_link .blue_txt {
    color: #0065FE;
}

.login ul li .blue_btn,
.learn_link .blue_btn {
    background-color: #0065FE;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    cursor: pointer; 
}

.learn_link .blue_btn {
  padding: 0.5rem 1.7rem;
}

.learn_link .blue_btn,
.learn_link .blue_txt {
  text-decoration: none;
  font-family:'gilory-semibold' ;
  font-size: 14px;
}

.hero_txt {
  width: 950px;
  margin: 0 auto;
  margin-top: 3.5rem;
}

.group1-txt-heading {
  color: #141414;
  font-size: 2rem;
  font-family: 'gilory-bold';
  text-align: center;
  word-spacing: 5px;
  position: relative;
}

.img_line {
  position: absolute;
  left: 43%;
  bottom: -6%;
}

.img-line {
  width: 125px;
}

.group1-txt-heading span,
.group2_txt_one_heading span,
.group3_txt_one span {
  color: #005AE2;
}

.group1_sm_txt {
  color: #141414;
  text-align: center;
  font-family: 'gilory-medium';
  font-size: .85rem;
  width: 72.5ch;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem 1.2rem;
}

.learn_link {
  text-align: center;
  margin-top: 2rem;
}

.learn_link .blue_txt {
  margin-left: 3rem;
}

.img_sec {
  margin: 0 auto;
}

.img-sec {
  margin-top: 3.5rem;
  width: 550px;
  transform: translate(50%);
}

/* start of main section */
.section_numbers {
  background-color: #F9FBFD;
}

.group2,
.group3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.group3 {
  gap: 20px;
}

.img_numbers {
  width: 580px;
}

.group2_txt_one_heading {
  font-size: 1.5rem;
}

.group3_txt_one {
  font-size: 1rem;
  position: relative;
}

.img_gradient_line {
  position: absolute;
  left: -4%;
  width: 4px;
}

.group2_txt_one_heading,
.group3_txt_one {
  font-family: 'gilory-bold';
}

.one_with_icons,
.two_with_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.group3_txt_one p,
.icon_one_wit_txt p,
.icon_two_wit_txt p,
.icon_three_wit_txt p,
.icon_four_wit_txt p {
  font-size: 12px;
  font-family: 'gilory-medium';
}

.group3_txt_one p {
  width: 37ch;
  padding: 1rem 0;
  text-align: left;
  line-height: 1.8;
}

.icon_one_wit_txt p,
.icon_two_wit_txt p,
.icon_three_wit_txt p,
.icon_four_wit_txt p {
  width: 35ch;
  margin-top: 1rem;
}

.icon_one_wit_txt h3,
.icon_two_wit_txt h3,
.icon_three_wit_txt h3,
.icon_four_wit_txt h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.link-icon,
.url-icon,
.qr-code,
.analytics-icon {
  width: 45px;
}

.two_with_icons {
  margin-top: 3.5rem;
}